<div class="row vh-100 justify-content-center align-items-center no-gutters">
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card mb-3 shadow">
            <div class="d-block user-select-none overflow-hidden" width="100%" height="150px">
                <img src="../../../assets/img/login.svg" alt="Login" width="100%">
            </div>
            <h3 class="card-header text-primary">Inicio de sesión</h3>
            <div class="card-body">
                <app-alert *ngIf="loginService.error.show" [message]="loginService.error.message"></app-alert>
                <form autocomplete="off" [formGroup]="fg" (submit)="onSubmit()">
                    <div class="form-group">
                        <fieldset>
                            <label class="control-label d-block" for="username">Nombre de usuario</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input class="form-control" id="username" type="text" [formControlName]="'username'" [class.is-invalid]="getValidUsername">
                            </div>
                            <small class="text-danger d-block" *ngIf="getValidUsernameLength">El nombre de usuario debe contener al menos 5 caracteres</small>
                            <small class="text-danger d-block" *ngIf="getValidUsernamePattern">El nombre de usuario solo puede contener letras digitos  _  .</small>
                            <small class="text-danger d-block" *ngIf="getValidUsernameCharacter">El nombre de usuario no puede contener 3 caracteres consecutivos del mismo tipo</small>
                        </fieldset>
                    </div>
                    <div class="form-group">
                        <fieldset>
                            <label class="control-label d-block" for="passwd">Contraseña</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input class="form-control" id="passwd" type="password" [formControlName]="'passwd'" [class.is-invalid]="getValidPasswd">
                            </div>
                            <small class="text-danger d-block" *ngIf="getValidPasswdLength">La contraseña debe contener al menos 8 caracteres</small>
                        </fieldset>
                    </div>
                    <div class="form-group">
                        <fieldset>
                            <button class="btn btn-outline-primary btn-block" [disabled]="fg.invalid">Iniciar sesión</button>
                        </fieldset>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>