<div class="vh-100">
    <div class="row h-25 bg-seacrh align-items-center no-gutters">
        <div class="col-12 col-md-6 mx-auto">
            <form [formGroup]="formGroup" autocomplete="off">
                <fieldset>
                    <label class="control-label d-block h3" for="tracking">Ingrese el número de tracking</label>
                    <small class="d-block text-danger" *ngIf="invalidTrackingPatter">El número de tracking no debe contener caracteres especiales</small>
                    <small class="d-block text-danger" *ngIf="invalidTrackingRequired">El número de tracking es requerido</small>
                    <input class="form-control" id="tracking" type="text" [formControlName]="'tracking'" (keyup)="onSubmit()" [class.is-invalid]="invalidTracking">
                </fieldset>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="row h-75 p-4 no-gutters overflow-scroll">
            <div class="col-6 mx-auto animate__animated animate__fadeIn" *ngIf="tracks.length === 0 && formGroup.get('tracking').value.length > 1">
                <app-alert message="Número de tracking no coincide, por favor verifique que este bien escrito" type="alert-warning"></app-alert>
            </div>
            <div class="col-6 mx-auto" *ngIf="tracks.length === 0 && formGroup.get('tracking').value.length === 0">
                <app-alert message='Aquí se visualizarán todos los trackings que coincidan con los datos ingresados' type='alert-info'></app-alert>
            </div>
            <div class="col-12 col-md-4 animate__animated animate__fadeIn animate__faster" *ngFor="let track of tracks">
                <div class="card border-light mb-3 shadow-sm" style="max-width: 20rem;">
                    <div class="card-header">Nombre: {{track.nombre}}</div>
                    <div class="card-body">
                        <h4 class="card-title">Tracking: {{ track.trackingUsa }} </h4>
                        <div class="options w-75 m-2 mx-auto">
                            <a (click)="registerPackage(track.idPaquete, track.trackingUsa, track.nombre)" class="btn btn-warning btn-block mx-auto"><i class="fas fa-check mx-1"></i> Marcar como recibido</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>