<div class="container h-100 animate__animated animate__fadeIn">
    <div class="row h-100 align-content-center justify-content-center">
        <div class="col-12 text-left">
            <p class="display-4">Resumen estadístico</p>
        </div>
        <div class="col-12 mb-5">
            <app-alert type="alert-info" message="En este panel se mostrará un resumen estadistico de trackpack, de igual manera en este panel puedes generar reportes, controlar la carga, registrar empleados entre otras actividades."></app-alert>
            <hr>
        </div>
        <div class="col-12 col-md-4">
            <app-card header="Clientes registrados" [cardNumber]="stadistic.totalC" icon="fas fa-user"></app-card>
        </div>
        <div class="col-12 col-md-4">
            <app-card header="Empleados registrados" [cardNumber]="stadistic.totalE" icon="fas fa-user-tie"></app-card>
        </div>
        <div class="col-12 col-md-4">
            <app-card header="Paquetes registrados" [cardNumber]="stadistic.totalP" icon="fas fa-archive"></app-card>
        </div>
    </div>
</div>