<div class="d-flex flex-column justify-content-around h-100">
    <div class="name w-100 p-2 text-center">
        <p class="h3 w-100 text-light">Bienvenido</p>
        <p class="lead text-break text-light">{{ user.name }} {{ user.lastName }}</p>
        <hr>
    </div>
    <ul class="nav nav-pills flex-column text-right">
        <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="['/dashboard']" routerLinkActive="active text-dark" [routerLinkActiveOptions]="{exact: true}">Dashboard <i class="fas fa-tachometer-alt ml-1"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="['/dashboard/load']" routerLinkActive="active text-dark">Cargas <i class="fas fa-box-open ml-1"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="['/dashboard/register']" routerLinkActive="active text-dark">Control Empleados <i class="fas fa-user-plus ml-1"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="['/dashboard/customer']" routerLinkActive="active text-dark">Control Clientes <i class="fas fa-users"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="['/dashboard/reports']" routerLinkActive="active text-dark">Reportes <i class="fas fa-file-pdf ml-1"></i></a>
        </li>
    </ul>
    <div class="option w-100 text-center">
        <a (click)="logout()" class="btn btn-primary">Cerrar sesion</a>
    </div>
    <div class="footer text-center">
        <p class="font-weight-light text-light">Trackpack &copy; Todos los derechos reservados</p>
    </div>
</div>